<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" class="h-100">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/ fb# article: http://ogp.me/ns/ article#">
  <meta charset="UTF-8">
  <meta property="og:url" content="https://johkakka.dev/lunch/" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="選出アルゴリズムについて" />
  <meta property="og:description" content="「飯どうするーれっと」のお店選出アルゴリズムについて説明します。" />
  <meta property="og:site_name" content="飯どうするーれっと" />
  <meta property="og:image" content="https://johkakka.dev/lunch/OGP.png" />
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:site" content="@Joh_Kakka" />

  <script src="js/bootstrap.js"></script>
  <script src="js/jquery.js"></script>
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <link rel="icon" href="favicon.ico" id="favicon">
  <meta name="theme-color" content="#7952b3">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>飯どうするーれっと - 選出アルゴリズムについて</title>

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

  <link rel="stylesheet" href="css/cover.css"/>


</head>

<body class="d-flex h-100 text-center text-white bg-dark">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">飯どうするーれっと</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link" aria-current="page" th:href="@{/}">Roulette</a>
        <a class="nav-link active" th:href="@{/more}">More</a>
        <a class="nav-link" th:href="@{/credit}">Credit</a>
      </nav>
    </div>
  </header>

  <main class="px-3">
    <p>
    <h1>さらに詳しく知る</h1>
    </p>
    <div class="card text-dark result-card text-start">
      <div class="card-header">
        選出アルゴリズムについて
      </div>
      <div class="card-body">
        <ol>
          <li>まず、表示されるお店の候補を選びます。候補となりうるお店は以下の条件をすべて満たしているものです。</li>
            <ul>
              <li>Google Mapに登録されていること。</li>
              <li>現在開店中である、もしくは、開店時間が不明であること。</li>
              <li>入力された地点(もしくは現在地)の座標から1km圏内であること。</li>
            </ul>
          <li>候補のお店の中からランダムでお店を一つ選びます。ただし、ユーザーの皆様にとってよりよい提案をするために、以下の補正がかかります。</li>
            <ul>
              <li>お店の評価が高いほど選ばれやすくなります。例えば、評価2.5のお店と評価5のお店では後者のほうが2倍選ばれやすくなります。</li>
              <li>お店が入力された地点(もしくは現在地)の座標から距離が近ければ近いほど選ばれやすくなります。例えば、500m離れたお店と1000m離れたお店では後者のほうが2倍選ばれやすくなります。</li>
            </ul>
          <li>以上の処理を終えて、選出されたお店を表示しています。</li>
        </ol>
      </div>
    </div>
    <p></p>
    <p>
      <a id="here" class="btn btn-primary btn-block btn-lg" th:href="@{/}">トップへ</a>
    </p>

  </main>

  <footer class="mt-auto text-white-50">
    <p><a th:href="@{/}" class="text-white">Lunch Roulette</a>, Copyright © 2021 <a href="https://twitter.com/Joh_Kakka" class="text-white">johkakka</a> All Rights Reserved.</p>
  </footer>
</div>
</body>
</html>